#tableSeat {
    border: unset;
    width: 450px;
    text-align: center;
}

#tableSeat td {
    border: unset;
}

.pushable {
    background: #c9cbd1;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    width: 55px;
    height: 55px
}

.pushables {
    background: #c9cbd1;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    width: 55px;
    height: 55px
}

.front-button {
    display: block;
    padding: 9px 12px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #a7acaf;
    color: white;
    transform: translateY(-6px);
}

.pushable:hover {
    transform: translateY(-1px);
}

.pushable:active.front-button {
    transform: translateY(-2px);
}

.pushables:hover {
    transform: translateY(-1px);
}

.pushables:active.front-button {
    transform: translateY(-2px);
}

.pushable-selecting {
    background: #92c49e;
}

.pushable-selecting .front-button {
    background: #17b13e;
}

.pushable-sold {
    background: rgb(168, 95, 95);
}

.pushable-sold .front-button {
    background: red;
}

.pushable-vip {
    background: #85a8dd;
}

.pushable-vip .front-button {
    background: #1e5dd3;
}

.btnControlConfirm {
    width: 250px !important;
}

.poster {
    width: 155px !important;
    height: 228.5px !important;
}

@media (min-width: 1200px) {
    .container--fix {
        max-width: 1300px !important;
    }
}

.film-title {
    font-size: 25px;
}

.film-infor {
    font-size: 18px;
}